.predicted {
  font-size: .8em;

  color: $pink;

  &::after {
    display: inline;

    padding-left: 5px;

    content: "* GPT II generated";

    font-size: .7em;

    color: $orange;

    background-color: rgba($blue, .5);
  }
}
